# Tenants
ENABLE_MULTI_TENANCY=true
ENABLE_REGISTRATION=false

# App Config
NUXT_PUBLIC_REFRESH_INTERVAL=5000
NUXT_PANTRY_DEFAULT_LIST_NAME=Boodschappen
NUXT_PANTRY_DEFAULT_USER_LIST_LIMIT=50
NUXT_PANTRY_MAX_USER_LIST_LIMIT=100
NUXT_PANTRY_DEFAULT_ITEM_SEARCH_LIMIT=10
NUXT_PANTRY_MAX_ITEM_SEARCH_LIMIT=50
NUXT_PANTRY_DEFAULT_BLOB_LIST_LIMIT=100
NUXT_PANTRY_MAX_BLOB_LIST_LIMIT=1000
NUXT_PANTRY_MANAGED_BLOB_MAX_UPLOAD_SIZE=32MB

# Public base URL (required)
NUXT_PUBLIC_SITE_URL="http://localhost:3000"

## Server routes auth
ADMIN_API_TOKEN="1234"


# Cloudflare config
CLOUDFLARE_WORKER_NAME="pantrypanic"
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""

# Production resources
CLOUDFLARE_CACHE_NAMESPACE_ID=""
CLOUDFLARE_D1_DATABASE_ID=""
CLOUDFLARE_R2_BUCKET=""

# Secrets
ADMIN_USER_EMAIL="admin@example.com"
ADMIN_USER_PASSWORD="password"
NUXT_SESSION_PASSWORD="1234"