@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
	--font-sans: 'Instrument Sans', sans-serif;

	--color-pomegranate-50: #fef4f2;
	--color-pomegranate-100: #fee6e2;
	--color-pomegranate-200: #fdd2cb;
	--color-pomegranate-300: #fbb2a6;
	--color-pomegranate-400: #f68673;
	--color-pomegranate-500: #eb533a;
	--color-pomegranate-600: #d94229;
	--color-pomegranate-700: #b7341e;
	--color-pomegranate-800: #972e1d;
	--color-pomegranate-900: #7d2c1f;
	--color-pomegranate-950: #44130b;

	--color-black-pearl-50: #f4f8fb;
	--color-black-pearl-100: #e7f0f7;
	--color-black-pearl-200: #cae0ed;
	--color-black-pearl-300: #9cc5dd;
	--color-black-pearl-400: #67a7c9;
	--color-black-pearl-500: #448cb3;
	--color-black-pearl-600: #327197;
	--color-black-pearl-700: #2a5a7a;
	--color-black-pearl-800: #264d66;
	--color-black-pearl-900: #244256;
	--color-black-pearl-950: #12202b;

	--animate-shimmer: shimmer 8s ease-in-out infinite alternate;

	@keyframes shimmer {
		0% {
			background-position: 0% center;
		}
		100% {
			background-position: 200% center;
		}
	}
}
