@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
	--font-sans: 'Public Sans', sans-serif;

	--color-pomegranate-50: #fef4f2;
	--color-pomegranate-100: #fee6e2;
	--color-pomegranate-200: #fdd2cb;
	--color-pomegranate-300: #fbb2a6;
	--color-pomegranate-400: #f68673;
	--color-pomegranate-500: #eb533a;
	--color-pomegranate-600: #d94229;
	--color-pomegranate-700: #b7341e;
	--color-pomegranate-800: #972e1d;
	--color-pomegranate-900: #7d2c1f;
	--color-pomegranate-950: #44130b;
}
